.chat-card{
    background-color: rgba(white, 0.3);
    color: rgba(65, 65, 65, 0.99);
    height: 100%;
    margin: 20px 0;
    padding: 25px;
    border-radius: 5px;
   

}

.chat-wrapper {
    height: 100%;
    margin: 20px;
    overflow-y: auto;

    
    
}
