<div class="chat-wrapper">
    <div class="container">
        <div class="chat-list">
            <div class="chat-card">
                <div class="chat-box">
                    <div class="chat-card-foto">
                        <i class="material-icons-outlined">person</i>
                    </div>
                    <div class="chat-card-content">content</div>
                </div>
                <p>datum & uhrzit message</p>
            </div>
            <div class="chat-card">
                <div class="chat-box">
                    <div class="chat-card-foto">
                        <i class="material-icons-outlined">person</i>
                    </div>
                    <div class="chat-card-content">content</div>
                </div>
                <p>datum & uhrzit message</p>
            </div>
            <div class="chat-card">
                <div class="chat-box">
                    <div class="chat-card-foto">
                        <i class="material-icons-outlined">person</i>
                    </div>
                    <div class="chat-card-content">content</div>
                </div>
                <p>datum & uhrzit message</p>
            </div>
            <div class="chat-card">
                <div class="chat-box">
                    <div class="chat-card-foto">
                        <i class="material-icons-outlined">person</i>
                    </div>
                    <div class="chat-card-content">content</div>
                </div>
                <p>datum & uhrzit message</p>
            </div>
            <div class="chat-card">
                <div class="chat-box">
                    <div class="chat-card-foto">
                        <i class="material-icons-outlined">person</i>
                    </div>
                    <div class="chat-card-content">content</div>
                </div>
                <p>datum & uhrzit message</p>
            </div>
            <div class="chat-card">
                <div class="chat-box">
                    <div class="chat-card-foto">
                        <i class="material-icons-outlined">person</i>
                    </div>
                    <div class="chat-card-content">content</div>
                </div>
                <p>datum & uhrzit message</p>
            </div>
            <div class="chat-card">
                <div class="chat-box">
                    <div class="chat-card-foto">
                        <i class="material-icons-outlined">person</i>
                    </div>
                    <div class="chat-card-content">content</div>
                </div>
                <p>datum & uhrzit message</p>
            </div>
        </div>
    </div>
</div>