<div class="login-wrapper container has-blurred-white-bg">
    <h2> Login</h2>
    <div class="form-field">


       <input  class="textbox" 
            name="email" 
            [(ngModel)]="email" 
             type="text"
             placeholder="Enter your Email"/>
        <input class="textbox" 
            name="password"
            [(ngModel)]="password"
            type="password"
            placeholder="Enter your Password"/>

        <button class="btn" (click)="createUser()">Create User</button>
        <button class="btn" (click)="login()">Login</button>
    
    </div>
   
</div>
