

<div class="tabs">

   <!-- <a routerLink="login" routerLinkActive="selected" class="tab login-tab">
        <div class="tab-title tooltip">
           <i class="material-icons-outlined">login</i>
           <span class="tooltiptext">Login</span>
        </div>
    </a>-->
    <a routerLink= "bookmarks" routerLinkActive="selected" class="tab bookmark-tab">
        <div class="tab-title tooltip">
           <i class="material-icons-outlined">add_link</i>
           <span class="tooltiptext">Link</span>
        </div>
    </a>
    <a routerLink= "todo" routerLinkActive="selected" class="tab todo-tab">
        <div class="tab-title tooltip">
           <i class="material-icons-outlined">check</i>
           <span class="tooltiptext">Todo</span>
        </div>
    </a>
    <a routerLink="notes" routerLinkActive="selected" class="tab notes-tab">
        <div class="tab-title tooltip">
           <i class="material-icons-outlined">notes</i>
           <span class="tooltiptext">Note</span>
        </div>
    </a>


   <!-- <a routerLink="calender" routerLinkActive="selected" class="tab calender-tab">
        <div class="tab-title tooltip">
           <i class="material-icons-outlined">event</i>
           <span class="tooltiptext">Events</span>
        </div>
    </a>-->
</div>
