.tabs{
    display: flex;
    background-color: rgba(white, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 12px;
    gap: 14px;
    padding: 10px;
    margin: 12px;
    margin-top: 50px;

    .tab{
        position: relative;
        z-index: 1;
    }


    .tab-title{
        display: flexgit push --set-upstream origin tabs;
        padding: 16px;
        cursor: pointer;
        i{
            columns: #222;
        }
    }
}

.tab-title::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    opacity: 0.7 ;
  
}

.bookmark-tab .tab-title::before{
    background: linear-gradient(45deg, #f8b5a5, #e2d2fd);
}

.todo-tab .tab-title::before{
    background: linear-gradient(45deg, #a2c6ff, #ffbdde);
}

.notes-tab .tab-title::before{
    background: linear-gradient(45deg, #d2cdff, #a7e8f3);
}

.tab-title:hover::before{
 transform: scale(1.12);
 opacity: 1;

}
