<div class="tabs">
    <a routerLink= "bookmarks" routerLinkActive="selected" class="tab bookmark-tab">
        <div class="tab-title">
           <i class="material-icons-outlined">bookmarks</i>
        </div>
    </a>
    <a routerLink= "todo" routerLinkActive="selected" class="tab todo-tab">
        <div class="tab-title">
           <i class="material-icons-outlined">check</i>
        </div>
    </a>
    <a routerLink="notes" routerLinkActive="selected" class="tab notes-tab">
        <div class="tab-title">
           <i class="material-icons-outlined">notes</i>
        </div>
    </a>
    <a routerLink="chat" routerLinkActive="selected" class="tab chat-tab">
        <div class="tab-title">
           <i class="material-icons-outlined">chat</i>
        </div>
    </a>

    <a routerLink="calender" routerLinkActive="selected" class="tab calender-tab">
        <div class="tab-title">
           <i class="material-icons-outlined">event</i>
        </div>
    </a>
</div>
