<div class="tabs">
    <a routerLink= "bookmarks"class="tab bookmark-tab">
        <div class="tab-title">
           <i class="material-icons-outlined">bookmarks</i>
        </div>
    </a>
    <a routerLink= "todo" class="tab todo-tab">
        <div class="tab-title">
           <i class="material-icons-outlined">check</i>
        </div>
    </a>
    <a routerLink="notes" class="tab notes-tab">
        <div class="tab-title">
           <i class="material-icons-outlined">notes</i>
        </div>
    </a>
</div>
