<div class="app-wrapper">
  <img 
  class="bg-img" 
  [src]="bg" 
  *ngFor="let bg of background.reverse()" 
  (load)="onBgImageload($event)"
  @bgAnim>
  <!--use property binding & listen to loadevent-->

  <div 
  class="btn change-bg-btn" 
  (click)="changeBgImage()" 
  *ngIf="!loadingBgImage"
  @fadeAnim>
    <i class="material-icons">refresh</i>
  </div>
  <div class="top-section">
  
  <h1 id="data">{{theDate | date:'HH:mm:ss'}}</h1>
  <h2>{{ theDate | date }}</h2>
  <!--  show realtime update date-->
   
  <div>
    <i class="material-icons-outlined"> light_mode</i>
    <h2>38°</h2> 
    <!-- realtime Weather https://developer.here.com/blog/collect-forecast-information-with-angular-and-the-here-weather-api -->
  </div>

    </div>
  
  <div class="content-section" [@routeAnim] ="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  
  </div>

  <div class="bottom-section">
  <app-tabs></app-tabs>
  </div>

  <app-notification></app-notification>
</div>