.app-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #e1e2ed;
}
.top-section{
background-color: antiquewhite;
}
.content-section{
background-color: aquamarine;
flex-grow: 1;
}

.bottom-section{
    background-color: cadetblue;

}
