.app-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
  // background-image: url("https://images.unsplash.com/photo-1617907775919-4ccc66e5bc66?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixlib=rb-1.2.1&q=80&w=1920)");
   //background-image: url("https://images.unsplash.com/photo-1429497627149-e7839eef4fdb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIwMjIwNjgx&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit");
   //background-image: url("https://images.unsplash.com/photo-1619901373505-bb71126e5fbb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
   //background-image: url("https://images.unsplash.com/photo-1619186633056-63c7e58d415c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");

   //https://images.unsplash.com/photo-1603234418621-56262863a43f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max
   


   .bg-img{
       position: fixed;
       z-index: -1;
       height: 100%;
       object-fit: cover;
       width: 100%;

   }

}
.top-section{

text-align: center;
padding: 50px 0;
margin: 20px;
background-color: rgba(white, 0.5);
backdrop-filter: blur(3px);

h1{
    font-size: 4em;
    font-weight: thin;
    color: #ffffff;
    text-shadow: 0px 2px 5px rgb(black, 0.4);
}
h2{
    font-size: 20px;
    color: rgb(22, 22, 22);
    text-shadow: 0px 1px 7px rgb(black, 0.1);
    padding: 10px;
}

}
.content-section{

margin: 20px;
flex-grow: 1;
min-height: 0;
}

.bottom-section{
    
    display: flex;
    app-tabs{
        margin: auto;
    }

}

i{
    color: rgb(90, 89, 89);
    font-size: 30px;
    &:hover{
        color: rgb(22, 22, 22);

    }
}

.change-bg-btn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
   margin: 25px 25px;
   padding: 10px 15px;
   cursor: pointer;

   &:active{
     transform: translateY(3px);  
   }
     
}

@media screen and(max-width: 800px){
.top-section{
padding: 10px;
}
.top-section h1{
 font-size: 2em;
}
.change-bg-btn{
margin: 20px 20px;
   padding: 5px 10px;
}
}