.notes-wrapper{
    height: 100%;
    margin: 20px;
    overflow-y: auto;
}

.note-card{
    background-color: rgba(white, 0.3);
    color: rgba(65, 65, 65, 0.99);
    height: 100%;
    margin: 20px;
    padding: 25px;
    border-radius: 5px;
    cursor: pointer;
    backdrop-filter: blur(0.5px);

    transition: all 0.2s;

    &:hover{
        background-color:rgba(white, 0.5);
        backdrop-filter: blur(2px);
    }
}

.note-card-title{
    margin-top: 7px;
    font-weight: 600;
    font-size: 25px;
}

.btn{
    display: inline-flex;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    font-weight: 300;
    padding: 15px 25px;
    background-color:rgba(white, 0.3);
    text-decoration: none;
    border-radius: 4px;
    color: rgba(65, 65, 65, 0.99);
    &:hover{
        background-color:rgba(white, 0.5);
        backdrop-filter: blur(2px);
    }
    &:active{
        background-color:rgba(white, 0.7); 
    }
}


