<div class="notes-wrapper">
    <div class="container">
        <div class="notes-list">
            <div class="note-card">
                <div class="note-card-title">hallo 
                </div>
                <div class="note-card-content">content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quia laudantium cumque esse facere, cupiditate pariatur tempore corporis ea iste ipsum non vel consequuntur rem voluptatem quidem enim aut tenetur!

                </div>
            </div>
            <div class="note-card">
                <div class="note-card-title">schnelle notiz
                </div>
                <div class="note-card-content">content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quia laudantium cumque esse facere, cupiditate pariatur tempore corporis ea iste ipsum non vel consequuntur rem voluptatem quidem enim aut tenetur!

                </div>
            </div>
            <div class="note-card">
                <div class="note-card-title">urlaub planen
                </div>
                <div class="note-card-content">content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quia laudantium cumque esse facere, cupiditate pariatur tempore corporis ea iste ipsum non vel consequuntur rem voluptatem quidem enim aut tenetur!

                </div>
            </div >
            <div class="note-card">
                <div class="note-card-title">urlaub planen
                </div>
                <div class="note-card-content">content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quia laudantium cumque esse facere, cupiditate pariatur tempore corporis ea iste ipsum non vel consequuntur rem voluptatem quidem enim aut tenetur!

                </div>
            </div >
            <div class="note-card">
                <div class="note-card-title">urlaub planen
                </div>
                <div class="note-card-content">content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quia laudantium cumque esse facere, cupiditate pariatur tempore corporis ea iste ipsum non vel consequuntur rem voluptatem quidem enim aut tenetur!

                </div>
            </div >
            <div class="btns-container btns-centered">
                <a routerLink="add" class="btn"> + Add</a>
            </div>
            </div>
    </div>
</div>
