<div class="add-note-wrapper container has-blurred-white-bg">
   
      <div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, suscipit. Ratione distinctio possimus quasi voluptatem tenetur recusandae corporis, cum fugiat, tempora suscipit vitae perferendis ea voluptate pariatur in labore. Quis?</p>


          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, suscipit. Ratione distinctio possimus quasi voluptatem tenetur recusandae corporis, cum fugiat, tempora suscipit vitae perferendis ea voluptate pariatur in labore. Quis?</p>



          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, suscipit. Ratione distinctio possimus quasi voluptatem tenetur recusandae corporis, cum fugiat, tempora suscipit vitae perferendis ea voluptate pariatur in labore. Quis?</p>

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, suscipit. Ratione distinctio possimus quasi voluptatem tenetur recusandae corporis, cum fugiat, tempora suscipit vitae perferendis ea voluptate pariatur in labore. Quis?</p>
      </div>

</div>
