
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$personaldashboard-primary: mat-palette($mat-indigo);
$personaldashboard-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$personaldashboard-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$personaldashboard-theme: mat-light-theme((
  color: (
    primary: $personaldashboard-primary,
    accent: $personaldashboard-accent,
    warn: $personaldashboard-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($personaldashboard-theme);



@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');


@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined|Material+Icons');

html{
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}
html, body{
    height: 100%;
    margin: 0;
}

h1{
    font-size: 100rem;

}

h2{
    font-size: 40px;
    
}

h1.is-bold,
h2.is-bold{
    font-weight: bold;
    
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.btns-container {
    display: flex;
    gap: 12px;
    

    &.btns-centered {
        justify-content: center;
    }

    .align-end{
        margin-left: auto;
    }
}

.has-blurred-white-bg{
    background-color:rgba(white, 0.7);
    backdrop-filter: blur(2px);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn{

    display: inline-flex;
    align-items: center;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
    font-family: inherit;
    padding: 15px 25px;
    background-color:rgba(white, 0.5);
    text-decoration: none;
    box-shadow:  0px 1px 2px rgb(black, 0.1);
    border: none;
    border-radius: 4px;
    color: rgba(65, 65, 65, 0.99);
    &:hover{
        background-color:rgba(white, 0.8);
        backdrop-filter: blur(2px);
    }
    &:active{
        background-color:rgba(white, 0.7); 
    }
}

.form-field{
    margin-bottom: 20px;
   p{ margin-top: 5px;
    font-weight: 100;
    font-size: 13px;

}
   
}


.textbox, .texarea{
    display: block;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: inherit;
    font-weight: 300;
    padding: 15px 10px;
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;
    background-color:rgba(white, 0.1);
    backdrop-filter: blur(2px);
    box-shadow:  0px 1px 2px rgb(black, 0.1);
    cursor: pointer;

    &:hover{
        background-color:rgba(white, 0.7);
       }

    &:focus{
        outline: none;
    }

}
.texarea{
    resize: vertical;
    min-height: 200px;
    
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
