/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');


@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined|Material+Icons');

html{
    font-family: 'Inter', sans-serif;
}
html, body{
    height: 100%;
    margin: 0;
}

h1{
    font-size: 100px;

}

h2{
    font-size: 40px;
    
}

h1.is-bold,
h2.is-bold{
    font-weight: bold;
    
}

.container{
    max-width: 900px;
    margin: auto;
}

.btns-container {
    display: flex;
    

    &.btns-centered {
        justify-content: center;
    }
}

.has-blurred-white-bg{
    background-color:rgba(white, 0.5);
    backdrop-filter: blur(2px);
}