.todo-wrapper{
    height: 100%;
    margin: 20px;
    overflow-y: auto;
}

.todo-item{
    display: flex;
    background-color: rgba(white, 0.3);
    backdrop-filter: blur(0.5px);
    
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow:  0px 1px 2px rgb(black, 0.1);
    padding: 10px 12px;
    align-items: center;

    cursor: pointer;
    transition: 0.2s;
}

.todo-text{
    color: rgba(65, 65, 65, 0.99);
   // color: white;
   
   letter-spacing: 1px;
   
}

.check-box{
    display: flex;
    padding: 5px;
    border: 1px solid rgba(71, 71, 71, 0.4);
    border-radius: 50%;
    margin-right: 15px;

    i{
        font-size: 20px;
        opacity: 0;
    }
}



.todo-item:hover{
    background-color:rgba(white, 0.5);
    backdrop-filter: blur(2px);
    .todo-text{
        color: rgba(65, 65, 65, 0.8);
       // color: rgba(white, 0.8);
    }
    .check-box{
        border-color: transparent;
        background-color:  rgba(228,190,223,0.2)
    }
}

.todo-item.completed{

    .todo-text{
         color: rgba(110, 110, 110, 0.90); 
    }
    .check-box{
        background-color: rgb(164, 226, 183);
        border-color: rgb(164, 226, 183);
    }
    i{
        opacity: 1;
        color: white;
    }
}

.todo-text, .check-box{
    transition: 0.2s;
}