<div class="todo-wrapper">

   <div class="container"> 

    <app-todo-item *ngFor="let todo of todos" [todo]="todo" (click)="togggleCompleted(todo)"></app-todo-item>
     
<!-- <div class="todo-item">
    <div class="check-box">
        <i class="material-icons-outlined">check</i>
    </div>
    <p class="todo-text">this is my first to do </p>
</div>
<div class="todo-item">
    <div class="check-box">
        <i class="material-icons-outlined">check</i>
    </div>
    <p class="todo-text">this is my first to do </p>
</div> -->
</div>
</div>
