.bookmarks-wrapper {
    height: 100%;
    margin-left: 20px;
    overflow-y: auto;
    
}

.bookmark-titles-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
