.bookmarks-wrapper {
    height: 100%;
    margin: 20px;
    overflow-y: auto;
    
}

.bookmark-titles-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.material-icons-outlined{
    color: rgba(104, 104, 104, 0.80);
    padding-right: 10px;
}
@media screen and(max-width: 800px){
.bookmarks-wrapper{
margin: 0;
}
.bookmark-titles-container{
  gap: 10px;
}
}