<div class="bookmarks-wrapper">
   <div class="container">
    <div class="bookmark-titles-container">
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>
    <app-bookmark-title></app-bookmark-title>

    </div>
   </div>
</div>
